@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Brett's Intermittent Fasting App</h2>
    <p>I'm working on the final version of this app now. If you'd like to see more from me,</p>
    <p>check out <a href="https://github.com/brettandrews3">my GitHub repository</a>.</p>
</div>
<!--Updated on 6.25.2020-->