@model User
<!--7.13.20 Building this InsertUser page by adapting the InsertProduct View from ASPTesting app-->

<h2>Create a New User</h2>
@using (Html.BeginForm("InsertUserToDatabase", "User", "Post"))
{
    <input asp-for=""UserID" type="hidden" value="" />
    <label asp-for="FirstName" class="control-label">First Name</label> <!--link input to User Model-->
    <input type="text" name="FirstName" class="form-control" value="" />

    <label asp-for="LastName" class="control-label">Last Name</label>
    <input type="text" name="LastName" class="form-control" value="" />

    <label asp-for="HeightInInches" class="control-label">Height in Inches</label>
    <input type="number" step="0.1" name="HeightInInches" class="form-control" />

    <label asp-for="StartWeight" class="control-label">Starting Weight</label>
    <input type="number" step="0.01" name="StartWeight" class="form-control" />

    <label asp-for="FastStartDate" class="control-label">Fast Start (Today's Date):</label>
    <input type="datetime-local" name="FastStartDate" class="form-control" />

<!--7.13 Going to tie off coding here and make sure User Model, UserController sync with this file-->
<input type="submit" value="Create User" class="btn btn-primary" />
    
}







<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

</body>
</html>
    -->
